{
  "plugins": [
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ],
  "presets": [
    "@babel/preset-env",
    [
      "babel-preset-gatsby",
      {
        "importSource": "theme-ui",
        "reactRuntime": "automatic"
      }
    ]
  ]
}
