{
  "presets": [
    "@babel/preset-env",
    [
      "babel-preset-gatsby",
      {
        "importSource": "theme-ui", // or '@theme-ui/core'
        "reactRuntime": "automatic"
      }
    ]
  ]
}
