@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  src: url('../fonts/Gotham-Light.woff2');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: url('../fonts/Gotham-Book.woff2');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url('../fonts/Gotham-Medium.woff2');
}
